* {
    box-sizing: border-box;
    font-family: roboto;
}

body {
    margin: 0px;
}

#globalContainer {
    display: flex;
    flex-direction: column;
}
    #header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        border: 1px solid gray;
        height: 8vh;
    }
        #headerUserImage {
            height: 6vh; 
            margin-right: 5px;  
        } 

    #messagesContainer {
        display: flex;
        flex-direction: column;
        padding: 5px;
        border:  1px solid gray;
        height: 84vh;
        overflow: auto;
    }
        .messages {
            margin-bottom: 5px;
        }
        .sent {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            height: fit-content;
            /* border:  1px solid red; */
        }  
            .sentMessageContent {
                background-color: rgba(128, 128, 128, 0.3);
                max-width: 80%;
                border-radius: 5px;
                padding: 5px;
                /* word-wrap: break-word; */
                word-break: break-all;
            } 
        .recieved {
            display: flex;
            flex-direction: row;
            height: fit-content;
            align-items: flex-end;
        }
            .recievedUserImage {
                height: 6vh; 
                margin-right: 5px;  
            }
            .recievedMessage {
                max-width: 80%;
                border-radius: 5px;
                padding: 5px;
                background-color: #04A8FC;
            }
                .recievedMessageUsername {
                    color: rgb(0, 46, 105);
                    font-weight: bold;
                    font-size: 18px;
                }
                .recievedMessageContent {
                    word-break: break-all;
                    color: white;
                }
    #sendMessage {
        border:  1px solid gray;
        height: 8vh;
    }

    