* {
    box-sizing: border-box;
    font-family: roboto;
}

body {
    display: none;
    /* flex-direction: column;
    align-items: center; */
    margin: 0px;
    height: 100%;
    background-color: rgb(233, 233, 233);
}


    #header {
        position: fixed;
        top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        height:  46px;
        /* min-height: 45.7px; */
        width: 100%;
        max-width: 768px;
        background-image: linear-gradient(to right, rgb(4, 168, 252), rgb(118, 246, 255));
    }
        #headerUserImage {
            flex-grow: 1;
            height: 90%; 
            margin-right: 5px;              
        } 
        #headerUserName {
            flex-grow: 20;
            /* min-width: 15vw;
            max-width: 35vw;
            word-wrap: none;
            word-break: keep-all; */
        }
        #logoutForm {
            flex-grow: 1;
            text-align: right;
            padding: 5px;
                  
        }
            #logoutForm > button{
                color: white;  
                background-color: rgba(0, 0, 0, 0);
                border: none;
            }
            #logoutForm > button :active {
                background-color: rgba(255, 255, 255, 1); 
                cursor: pointer;  
                border: none;     
                outline: none;
            }
    #messagesContainer {
        position: fixed;
        top: 46px;
        bottom: 46px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        height: calc(100vh - 92px);
        max-width: 768px;
        overflow: auto;
        background-color: white;
        /* background-image: url('background.jpg'); */
    }
        .messages {
            margin-bottom: 5px;
        }
        .sent {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            height: fit-content;
            /* border:  1px solid red; */
        }  
            .sentMessageContent {
                background-color: rgba(128, 128, 128, 0.3);
                max-width: 80%;
                border-radius: 5px;
                padding: 5px;
                /* word-wrap: break-word; */
                word-break: break-all;
            } 
        .recieved {
            display: flex;
            flex-direction: row;
            height: fit-content;
            align-items: flex-end;
        }
            .recievedUserImage {
                height: 39px; 
                margin-right: 5px;  
            }
            .recievedMessage {
                max-width: 80%;
                border-radius: 5px;
                padding: 5px;
                background-color: rgb(4, 168, 252);
            }
                .recievedMessageUsername {
                    color: rgb(0, 46, 105);
                    font-weight: bold;
                    font-size: 18px;
                }
                .recievedMessageContent {
                    word-break: break-all;
                    color: white;
                }
    #sendMessage {
        position: fixed;   
        bottom: 0px;   
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height:  45px;
        width: 100%;
        max-width: 768px;
        /* min-height: 45.7px; */
        background-color: white;
        border-top: 1px solid rgba(0, 0, 0, 0.411);
    }
        #sendMessageInput {
            height: 100%;
            width: 90%;
            border: 0px;
            padding-left: 5px;
            outline: none;
        }
        #sendMessageButton {
            background-color: white;
            padding: 1px;
            border: 0px;
            height: 100%;
            width: 6%;
        }
            #sendMessageIcon {
                height: 25px;
            }
    

@media (min-width: 769px) {
    #header {
        left: calc((100% - 768px) / 2);
    }
    #messagesContainer {
        left: calc((100% - 768px) / 2);
    }
    #sendMessage {
        left: calc((100% - 768px) / 2);
    }
        #sendMessageInput {
            width: 95%;
        }
}

@media (min-width: 500px) {
    #sendMessageInput {
        width: 95%;
    }
}